<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQEmulator.Launchers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  
    <applicationSettings>
        <EQEmulator.Launchers.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="WorldId" serializeAs="String">
                <value>1</value>
            </setting>
        </EQEmulator.Launchers.Properties.Settings>
    </applicationSettings>

    <connectionStrings>
      <add name="EQEmulator.Servers.Properties.Settings.EQEmulatorConnectionString"
           connectionString="Data Source=HOWLER;Initial Catalog=EQEmulator;Integrated Security=True;MultipleActiveResultSets=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.serviceModel>
      <services>
        <service name="EQEmulator.Servers.WorldServer" behaviorConfiguration="WorldSvrBehavior">

          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:8000/WorldService/" />
            </baseAddresses>
          </host>
          
          <endpoint address="net.tcp://localhost:8000/WorldService/" binding="netTcpBinding" contract="EQEmulator.Servers.ServerTalk.IWorldService" />
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="WorldSvrBehavior">
            <serviceDebug includeExceptionDetailInFaults="true" />
            <serviceMetadata />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>

    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n" />
          <param name="Footer" value="[Footer]\r\n" />
          <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
        </layout>
      </appender>

      <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" >
        <mapping>
          <level value="FATAL" />
          <foreColor value="Red" />
        </mapping>
        <mapping>
          <level value="ERROR" />
          <foreColor value="Yellow" />
        </mapping>
        <mapping>
          <level value="WARN" />
          <foreColor value="Blue" />
        </mapping>
        <mapping>
          <level value="INFO" />
          <foreColor value="White" />
        </mapping>
        <mapping>
          <level value="DEBUG" />
          <foreColor value="Green" />
        </mapping>
        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n" />
          <param name="Footer" value="[Footer]\r\n" />
          <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
        </layout>
      </appender>

      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="C:\Documents and Settings\jason\Desktop\WorldServer\WorldDebug.log" />
        <appendToFile value="false" />

        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
      </appender>


      <root>
        <level value="DEBUG" />
        <!-->appender-ref ref="ConsoleAppender" /-->
        <appender-ref ref="ColoredConsoleAppender" />
        <appender-ref ref="FileAppender" />
      </root>
    </log4net>
  
</configuration>