<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <!--<system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWorldService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                    maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/WorldService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWorldService" contract="WorldService.IWorldService"
                name="NetTcpBinding_IWorldService">
                <identity>
                    <userPrincipalName value="HOWLER\jason" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>-->
    <!--<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQEmulator.Servers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EQEmulator.Servers.Properties.Settings.EQEmulatorConnectionString"
            connectionString="Data Source=HOWLER;Initial Catalog=EQEmulator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <EQEmulator.Servers.Properties.Settings>
            <setting name="WorldShortName" serializeAs="String">
                <value>Shards of Vazaelle</value>
            </setting>
        </EQEmulator.Servers.Properties.Settings>
    </applicationSettings>-->
</configuration>
